.bg-purple {
    background-color: rebeccapurple;
}

.list-group-item.active {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

a {
    color: black;
}

a:hover {
    color: rebeccapurple;
    text-decoration: none;
}

.logo-font {
    color: white !important;
}

.form-control:focus {
    border-color: rebeccapurple;
    box-shadow: none;
}

.btn-primary {
    background-color: rebeccapurple;
    border: rebeccapurple;
}

.btn-primary:hover {
    background-color: mediumpurple;
}

.btn-primary:focus, .btn-primary:active {
    background-color: rebeccapurple !important;
    border: rebeccapurple !important;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
}

.btn {
    border-style: initial !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc  ;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rebeccapurple;
}

input:focus + .slider {
    box-shadow: 0 0 1px rebeccapurple;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 1em;
}

.slider.round:before {
    border-radius: 50%;
}